/*
[name]Небо[/name]
[iconbgcolor]#61B6D5[/iconbgcolor]
Powered by Yeei.cn
Sky http://www.yeei.cn/forum-54-1.html
*/

body{background:#FFFFFF url(body.jpg) repeat-x center 0;background-attachment: fixed;}
.a_h{ padding:0px}
.head_y{background:none;}
.head_yn_bg{}
.head_yn{ background:none;height:160px; }
.head_logo{ padding-top:30px}
.slidebar li.on { background:#81BCEB; filter:none; color: #fff; font-weight: 700; }

.nv_l{background:url(nv_bg.png) no-repeat 0 0}
.nv_c{background:url(nv_bg.png) repeat-x 0 -36px; overflow:hidden}
.nv_q li {background: url(f.png) no-repeat 0 center; }
.nv_q li a {color:#fff;  }
.nv_q li a:hover {background:url(gl.png) no-repeat center 0;}
.nv_q li.a a {background:url(gl.png) no-repeat center 0;color:#fff;}
.nv_r #qmenu {background:url(qmenu.gif) no-repeat 0 0;}
.nv_r #qmenu.a {background-position: 0 -36px;}

#ft{ color:#888}
#ft a{ color:#aaa}
